@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xurrvn');
  src:  url('fonts/icomoon.eot?xurrvn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xurrvn') format('truetype'),
    url('fonts/icomoon.woff?xurrvn') format('woff'),
    url('fonts/icomoon.svg?xurrvn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e923";
}
.icon-align-justify:before {
  content: "\e924";
}
.icon-arrow-down-circle:before {
  content: "\e925";
}
.icon-arrow-left:before {
  content: "\e926";
}
.icon-arrow-right:before {
  content: "\e927";
}
.icon-book-open:before {
  content: "\e928";
}
.icon-bookmark1:before {
  content: "\e929";
}
.icon-check-circle:before {
  content: "\e92a";
}
.icon-check-square:before {
  content: "\e92b";
}
.icon-chevron-down:before {
  content: "\e92c";
}
.icon-chevron-left:before {
  content: "\e92d";
}
.icon-chevron-right:before {
  content: "\e92f";
}
.icon-chevron-up:before {
  content: "\e930";
}
.icon-code:before {
  content: "\e931";
}
.icon-copy:before {
  content: "\e94e";
}
.icon-corner-down-right:before {
  content: "\e932";
}
.icon-download1:before {
  content: "\e94f";
}
.icon-edit:before {
  content: "\e933";
}
.icon-eye:before {
  content: "\e934";
}
.icon-eye-off:before {
  content: "\e935";
}
.icon-home:before {
  content: "\e950";
}
.icon-layers:before {
  content: "\e951";
}
.icon-link:before {
  content: "\e936";
}
.icon-link-2:before {
  content: "\e937";
}
.icon-lock:before {
  content: "\e938";
}
.icon-log-in:before {
  content: "\e939";
}
.icon-log-out:before {
  content: "\e93a";
}
.icon-menu1:before {
  content: "\e952";
}
.icon-phone-call:before {
  content: "\e93b";
}
.icon-search1:before {
  content: "\e93c";
}
.icon-send:before {
  content: "\e93d";
}
.icon-toggle-left:before {
  content: "\e93e";
}
.icon-toggle-right:before {
  content: "\e93f";
}
.icon-x:before {
  content: "\e940";
}
.icon-x-circle:before {
  content: "\e941";
}
.icon-user1:before {
  content: "\e944";
}
.icon-camera:before {
  content: "\e945";
}
.icon-cog1:before {
  content: "\e946";
}
.icon-plus1:before {
  content: "\e94c";
}
.icon-switch:before {
  content: "\e94d";
}
.icon-adobeillustrator:before {
  content: "\e900";
  color: #ff7c00;
}
.icon-adobephotoshop:before {
  content: "\e901";
  color: #00c8ff;
}
.icon-amazonaws:before {
  content: "\e902";
}
.icon-angular:before {
  content: "\e903";
  color: #dd0031;
}
.icon-bootstrap:before {
  content: "\e904";
  color: #563d7c;
}
.icon-canva:before {
  content: "\e905";
  color: #00c4cc;
}
.icon-cisco:before {
  content: "\e906";
  color: #1ba0d7;
}
.icon-css31:before {
  content: "\e907";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\e908";
  color: #f43059;
}
.icon-docker:before {
  content: "\e909";
  color: #1488c6;
}
.icon-facebook:before {
  content: "\e90a";
  color: #1877f2;
}
.icon-git1:before {
  content: "\e90b";
  color: #f05032;
}
.icon-github:before {
  content: "\e90c";
}
.icon-gmail:before {
  content: "\e90d";
  color: #d14836;
}
.icon-go:before {
  content: "\e90e";
  color: #00add8;
}
.icon-html5:before {
  content: "\e90f";
  color: #e34f26;
}
.icon-imdb:before {
  content: "\e910";
  color: #e6b91e;
}
.icon-javascript:before {
  content: "\e911";
  color: #f7df1e;
}
.icon-linkedin:before {
  content: "\e912";
  color: #0077b5;
}
.icon-messenger:before {
  content: "\e913";
  color: #00b2ff;
}
.icon-mongodb:before {
  content: "\e914";
  color: #47a248;
}
.icon-nginx:before {
  content: "\e915";
  color: #269539;
}
.icon-node-dot-js:before {
  content: "\e916";
  color: #393;
}
.icon-npm:before {
  content: "\e917";
  color: #cb3837;
}
.icon-php:before {
  content: "\e918";
  color: #777bb4;
}
.icon-postgresql:before {
  content: "\e919";
  color: #336791;
}
.icon-postman:before {
  content: "\e91a";
  color: #ff6c37;
}
.icon-python:before {
  content: "\e91b";
  color: #3776ab;
}
.icon-react:before {
  content: "\e91c";
  color: #61dafb;
}
.icon-stackoverflow1:before {
  content: "\e91d";
  color: #fe7a16;
}
.icon-symfony:before {
  content: "\e91e";
}
.icon-tensorflow:before {
  content: "\e91f";
  color: #ff6f00;
}
.icon-typescript:before {
  content: "\e920";
  color: #007acc;
}
.icon-visualstudio:before {
  content: "\e921";
  color: #5c2d91;
}
.icon-visualstudiocode:before {
  content: "\e922";
  color: #007acc;
}
.icon-stack:before {
  content: "\e92e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-display:before {
  content: "\e956";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-database:before {
  content: "\e964";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-i-classNameicon-box-font-medium-text-secondary-text-xl-px-4-mdhidden-onClick--setIsSideBarOpenisSideBarOpen-i:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}
